.sprite {
  position: relative;
  height: 100%;
}

.sheet {
  position: absolute;
  inset: 0;
  background-repeat: no-repeat;
  background-size: 400% 100%;
}

.placeholder {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
